<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Wypożyczalnia samochodów</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="Tomasz Korus"/>
    <th:block th:include="include/css" />
</head>
<body>


<aside th:include="sidenav" class="main-sidebar"></aside>

<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <form id="employee" class="form-horizontal" th:action="@{/employee_edit}"
                      th:object="${EmployeeCreateForm}" method="post">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Edytuj pracownika</h3><br></br>
                            <a href="/employees_list" class="btn bg-light-blue btn-xs"><strong><i class="fa fa-undo"></i> Wróć do listy pracowników</strong></a>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <label for="roleName" class="col-lg-2 col-md-2 control-label">Rola<span
                                        class="required">*</span></label>
                                <div class="col-lg-4 col-md-6">
                                    <select id="roleNameForm" type="text" class="form-control"
                                            name="roleNameForm" required="required">
                                        <option type="text" th:selected="${employee.roleName == 'ROLE_ADMIN' ? 'selected' : null}" th:value="ROLE_ADMIN">Administrator</option>
                                        <option type="text" th:selected="${employee.roleName == 'ROLE_PRACOWNIK' ? 'selected' : null}" th:value="ROLE_PRACOWNIK">Pracownik</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="login" class="col-lg-2 col-md-2 control-label">Login<span
                                        class="required">*</span></label>
                                <div class="col-lg-4 col-md-6">
                                    <input id="login" type="text" class="form-control" name="login"
                                           th:value="${employee.login}" required="required"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="col-lg-2 col-md-2 control-label">Hasło<span
                                        class="required">*</span></label>
                                <div class="col-lg-4 col-md-6">
                                    <input id="password" type="password" class="form-control" name="password"
                                          required="required"/>
                                </div>
                            </div>
                            <h4>Dane osobowe:</h4>
                            <div class="form-group">
                                <label for="firstNameForm" class="col-lg-2 col-md-2 control-label">Imię<span
                                        class="required">*</span></label>
                                <div class="col-lg-4 col-md-6">
                                    <input id="firstNameForm" type="text" class="form-control" name="firstNameForm"
                                          th:value="${employee.firstName}" required="required"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="lastNameForm" class="col-lg-2 col-md-2 control-label">Nazwisko<span
                                        class="required">*</span></label>
                                <div class="col-lg-4 col-md-6">
                                    <input id="lastNameForm" type="text" class="form-control" name="lastNameForm"
                                          th:value="${employee.lastName}" required="required"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="ageForm" class="col-lg-2 col-md-2 control-label">Wiek<span
                                        class="required">*</span></label>
                                <div class="col-lg-4 col-md-6">
                                    <input id="ageForm" type="number" class="form-control" name="ageForm"
                                         th:value="${employee.age}" required="required"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="genderForm" class="col-lg-2 col-md-2 control-label">Płeć<span
                                        class="required">*</span></label>
                                <div class="col-lg-4 col-md-6">
                                    <select id="genderForm" type="text" class="form-control select2"
                                            name="genderForm"
                                            required="required">
                                        <option th:selected="${employee.gender == 'Mężczyzna' ? 'selected' : null}" th:value="Mężczyzna">Mężczyzna</option>
                                        <option th:selected="${employee.gender == 'Kobieta' ? 'selected' : null}" th:value="Kobieta">Kobieta</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="phoneForm" class="col-lg-2 col-md-2 control-label">Telefon<span
                                        class="required">*</span></label>
                                <div class="col-lg-4 col-md-6">
                                    <input id="phoneForm" type="text" class="form-control" name="phoneForm"
                                          th:value="${employee.phone}" required="required"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="emailForm" class="col-lg-2 col-md-2 control-label">Email<span
                                        class="required">*</span></label>
                                <div class="col-lg-4 col-md-6">
                                    <input id="emailForm" type="text" class="form-control" name="emailForm"
                                          th:value="${employee.email}" required="required"/>
                                </div>
                            </div>
                            <h4>Dane adresowe:</h4>
                            <div class="form-group">
                                <label for="cityForm" class="col-lg-2 col-md-2 control-label">Miasto<span
                                        class="required">*</span></label>
                                <div class="col-lg-4 col-md-6">
                                    <input id="cityForm" type="text" class="form-control" name="cityForm"
                                          th:value="${address.city}" required="required"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="streetForm" class="col-lg-2 col-md-2 control-label">Ulica<span
                                        class="required">*</span></label>
                                <div class="col-lg-4 col-md-6">
                                    <input id="streetForm" type="text" class="form-control" name="streetForm"
                                          th:value="${address.street}" required="required"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="streetNumberForm" class="col-lg-2 col-md-2 control-label">Numer domu<span
                                        class="required">*</span></label>
                                <div class="col-lg-4 col-md-6">
                                    <input id="streetNumberForm" type="text" class="form-control"
                                           name="streetNumberForm"
                                          th:value="${address.streetNumber}" required="required"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="zipCodeForm" class="col-lg-2 col-md-2 control-label">Kod pocztowy<span
                                        class="required">*</span></label>
                                <div class="col-lg-4 col-md-6">
                                    <input id="zipCodeForm" type="text" class="form-control" name="zipCodeForm"
                                          th:value="${address.zipCode}" required="required"/>
                                </div>
                            </div>
                            
                            <input type="hidden" id="employeeId" name="employeeId" th:value="${employee.employeeId}" />
                            <input type="hidden" id="addressId" name="addressId" th:value="${address.addressId}" />

                            <button type="submit" class="btn bg-green pull-right col-lg-2 col-md-2 col-sm-4 col-xs-5">
                                <strong><i class="fa fa-plus"></i> ZAPISZ</strong></button>
                        </div>

                    </div>

                </form>

            </div>
        </div>
    </section>
</div>

</body>
</html>